In [2]:
import pandas as pd
csv_stops = pd.read_csv("stops.txt", sep=',', dtype = 'unicode')
csv_stops.head()

  stop_id                 stop_name stop_desc   stop_lat  stop_lon
0    0001      CARICAMENTO/ACQUARIO      0001  44.410671  8.928418
1    0003  GRAMSCI 1/METRO' DARSENA      0003  44.413368  8.926332
2    0004         GRAMSCI 2/STATUTO      0004  44.414719  8.924177
3    0005        GRAMSCI 3/COMMENDA      0005  44.415524  8.922028
4    0006     MARITTIMA/PRINCIPE FS      0006  44.415497  8.919490

In [18]:
csv_stops2 = csv_stops[['stop_id','stop_name','stop_lat','stop_lon']]
#csv_stops2.sort_values(["vehicle_id","stop_id","stop_sequence"], ascending = True)
csv_stops2

     stop_id                 stop_name   stop_lat  stop_lon
0       0001      CARICAMENTO/ACQUARIO  44.410671  8.928418
1       0003  GRAMSCI 1/METRO' DARSENA  44.413368  8.926332
2       0004         GRAMSCI 2/STATUTO  44.414719  8.924177
3       0005        GRAMSCI 3/COMMENDA  44.415524  8.922028
4       0006     MARITTIMA/PRINCIPE FS  44.415497  8.919490
...      ...                       ...        ...       ...
3027    MM06          DE FERRARI/METRO  44.407700  8.934238
3028    MM07         S. AGOSTINO/METRO  44.404243  8.931859
3029    MM08            BRIGNOLE/METRO  44.406506  8.946647
3030    NV41         PORTO ANTICO/NAVE  44.409206  8.927400
3031    NV42                PEGLI/NAVE  44.424118  8.819676

[3032 rows x 4 columns]

In [11]:
data=pd.read_csv("April2022_OpenDataGenova.csv", sep=';', dtype = 'unicode')
data

,vehicle_id,arrival_time,departure_time,stop_id,stop_name,stop_sequence,stop_id_SUMO,stopinfo_delay,stopinfo_ended,stopinfo_initialPersons,stopinfo_loadedPersons,stopinfo_started,stopinfo_type,stopinfo_unloadedPersons,route_id,service_id,trip_headsign,block_id,sumo_delay
0,9408851-I21224-InvFer-Semaine-16,2022-04-01 06:00:00,06:00:00,0904,PALLAVICINI/CAPOLINEA,1,77621958:13.00,14.00,06:00:04,0,0,2022-04-01 05:59:50,bus,0,272-152,I21224-InvFer-Semaine-16,BEGATO,1143602,-10.0
1,9408851-I21224-InvFer-Semaine-16,2022-04-01 06:01:00,06:01:00,1894,VEZZANI 1/AUTOSTRADA,2,551686509#1:17.73,12.00,06:01:02,0,0,2022-04-01 06:00:50,bus,0,272-152,I21224-InvFer-Semaine-16,BEGATO,1143602,-10.0
2,9408851-I21224-InvFer-Semaine-16,2022-04-01 06:02:00,06:02:00,1928,CAMBIASO 1/VEZZANI,3,77634307#0:29.17,6.00,06:01:56,0,0,2022-04-01 06:01:08,bus,0,272-152,I21224-InvFer-Semaine-16,BEGATO,1143602,-52.0
3,9408851-I21224-InvFer-Semaine-16,2022-04-01 06:03:00,06:03:00,1929,CAMBIASO 2/CHIESA DI RIVAROLO,4,77634307#5:13.00,8.00,06:02:58,0,0,2022-04-01 06:02:21,bus,0,272-152,I21224-InvFer-Semaine-16,BEGATO,1143602,-39.0
4,9408851-I21224-InvFer-Semaine-16,2022-04-01 06:04:00,06:04:00,1930,CAMBIASO 3/,5,77634307#10:33.23,7.00,06:03:57,0,0,2022-04-01 06:03:17,bus,0,272-152,I21224-InvFer-Semaine-16,BEGATO,1143602,-43.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5995454,9303944-MM2022-InvFer-Semaine-00,2022-04-29 05:08:22,05:08:22,MM04,DARSENA/METRO,5,392991598#3:336.63,4.00,05:08:16,12,16,2022-04-29 05:07:07,subway,4,MM-91,MM2022-InvFer-Semaine-00,BRIN,1137367,-75.0
5995455,9303944-MM2022-InvFer-Semaine-00,2022-04-29 05:10:00,05:10:00,MM01,PRINCIPE/METRO,6,392991598#3:1074.54,4.00,05:09:54,24,1,2022-04-29 05:08:37,subway,3,MM-91,MM2022-InvFer-Semaine-00,BRIN,1137367,-83.0
5995456,9303944-MM2022-InvFer-Semaine-00,2022-04-29 05:11:00,05:11:00,MM02,DINEGRO/METRO,7,166332622:110.00,4.00,05:10:54,22,8,2022-04-29 05:10:18,subway,11,MM-91,MM2022-InvFer-Semaine-00,BRIN,1137367,-42.0
5995457,9303944-MM2022-InvFer-Semaine-00,2022-04-29 05:16:00,05:16:00,MM03,BRIN/METRO,8,878004655#1:128.81,5.00,05:15:55,19,0,2022-04-29 05:12:02,subway,19,MM-91,MM2022-InvFer-Semaine-00,BRIN,1137367,-238.0
5995458,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
csv_stops3 = data.merge(csv_stops2, on=['stop_id',"stop_name"])
#csv_stops3 = csv_stops3.sort_values(by=['vehicle_id','arrival_time','departure_time','stop_sequence','stopinfo_started'], ascending=True)
csv_stops3

MemoryError: Unable to allocate 772. MiB for an array with shape (19, 5324425) and data type object

In [16]:
#csv_stops3 = csv_stops3.sort_values(by=['vehicle_id','stop_sequence','arrival_time'], ascending=True)
#csv_stops3

In [23]:
csv_stops3.to_csv(r'April2022_OpenDataGenova_coordinates.csv', index = False, sep=';')