# Merge dei file gtfs

In [1]:
import pandas as pd
csv_stops = pd.read_csv("gtfs/stops.txt", sep=',', dtype = 'unicode')
csv_stops.head()

  stop_id                 stop_name stop_desc   stop_lat  stop_lon
0    0001      CARICAMENTO/ACQUARIO      0001  44.410671  8.928418
1    0003  GRAMSCI 1/METRO' DARSENA      0003  44.413368  8.926332
2    0004         GRAMSCI 2/STATUTO      0004  44.414719  8.924177
3    0005        GRAMSCI 3/COMMENDA      0005  44.415524  8.922028
4    0006     MARITTIMA/PRINCIPE FS      0006  44.415497  8.919490

In [2]:
csv_stop_times = pd.read_csv("gtfs/stop_times.txt", sep=',', dtype = 'unicode')
csv_stop_times.head()

,vehicle_id,arrival_time,departure_time,stop_id,stop_sequence,pickup_type,drop_off_type
0,9548023-FGC-EstFer22-Semaine-00,07:27:00,07:27:00,4019,1,0,0
1,9548023-FGC-EstFer22-Semaine-00,07:31:00,07:31:00,4018,2,0,0
2,9548023-FGC-EstFer22-Semaine-00,07:33:00,07:33:00,4017,3,0,0
3,9548023-FGC-EstFer22-Semaine-00,07:34:00,07:34:00,4020,4,0,0
4,9548023-FGC-EstFer22-Semaine-00,07:37:00,07:37:00,4016,5,0,0

In [3]:
csv_trips = pd.read_csv("gtfs/trips.txt", sep=',', dtype = 'unicode')
csv_trips.head()

,route_id,service_id,vehicle_id,trip_headsign,block_id
0,FGC-63,FGC-EstFer22-Semaine-00,9548023-FGC-EstFer22-Semaine-00,MANIN,1151980
1,FGC-63,FGC-EstFer22-Semaine-00,9548024-FGC-EstFer22-Semaine-00,MANIN,1151981
2,FGC-63,FGC-EstFer22-Semaine-00,9548025-FGC-EstFer22-Semaine-00,MANIN,1151980
3,FGC-63,FGC-EstFer22-Semaine-00,9548026-FGC-EstFer22-Semaine-00,CASELLA,1151980
4,FGC-63,FGC-EstFer22-Semaine-00,9548027-FGC-EstFer22-Semaine-00,CASELLA,1151982

In [4]:
csv_stop_times_trips = csv_stop_times.merge(csv_trips, on=['vehicle_id'])
csv_stop_times_trips.sort_values(["vehicle_id"], ascending = True)

,vehicle_id,arrival_time,departure_time,stop_id,stop_sequence,pickup_type,drop_off_type,route_id,service_id,trip_headsign,block_id
870953,8835268-I2122X-InvFes-Dimanche-01,20:46:00,20:46:00,1663,6,0,0,097-144,I2122X-InvFes-Dimanche-01,VOLTRI,1111335
870971,8835268-I2122X-InvFes-Dimanche-01,20:59:00,20:59:00,0052,24,0,0,097-144,I2122X-InvFes-Dimanche-01,VOLTRI,1111335
870970,8835268-I2122X-InvFes-Dimanche-01,20:58:00,20:58:00,0051,23,0,0,097-144,I2122X-InvFes-Dimanche-01,VOLTRI,1111335
870969,8835268-I2122X-InvFes-Dimanche-01,20:57:00,20:57:00,1881,22,0,0,097-144,I2122X-InvFes-Dimanche-01,VOLTRI,1111335
870968,8835268-I2122X-InvFes-Dimanche-01,20:57:00,20:57:00,1678,21,0,0,097-144,I2122X-InvFes-Dimanche-01,VOLTRI,1111335
...,...,...,...,...,...,...,...,...,...,...,...
505940,9562151-I21224-InvFer-Semaine-17,16:34:00,16:34:00,1500,5,0,0,087-152,I21224-InvFer-Semaine-17,BRIGNOLE FS,1150226
505939,9562151-I21224-InvFer-Semaine-17,16:33:00,16:33:00,1499,4,0,0,087-152,I21224-InvFer-Semaine-17,BRIGNOLE FS,1150226
505938,9562151-I21224-InvFer-Semaine-17,16:32:00,16:32:00,1498,3,0,0,087-152,I21224-InvFer-Semaine-17,BRIGNOLE FS,1150226
505937,9562151-I21224-InvFer-Semaine-17,16:31:00,16:31:00,1497,2,0,0,087-152,I21224-InvFer-Semaine-17,BRIGNOLE FS,1150226
505952,9562151-I21224-InvFer-Semaine-17,16:46:00,16:46:00,0754,17,0,0,087-152,I21224-InvFer-Semaine-17,BRIGNOLE FS,1150226

In [5]:
csv_stoptimes_stops = csv_stop_times.merge(csv_stops, on=["stop_id"])
csv_stoptimes_stops.sort_values(["vehicle_id"], ascending = True)

,vehicle_id,arrival_time,departure_time,stop_id,stop_sequence,pickup_type,drop_off_type,stop_name,stop_desc,stop_lat,stop_lon
738699,8835268-I2122X-InvFes-Dimanche-01,20:48:00,20:48:00,1667,10,0,0,FABBRICHE 4/,1667,44.447041,8.722018
738607,8835268-I2122X-InvFes-Dimanche-01,20:47:00,20:47:00,1666,9,0,0,FABBRICHE 3/,1666,44.447636,8.720800
738349,8835268-I2122X-InvFes-Dimanche-01,20:46:00,20:46:00,1663,6,0,0,FIORINO 5/COSTA DEL VENTO,1663,44.448326,8.716329
727683,8835268-I2122X-InvFes-Dimanche-01,20:40:00,20:40:00,1658,1,0,0,FIORINO/CAPOLINEA,1658,44.461552,8.706793
734382,8835268-I2122X-InvFes-Dimanche-01,20:57:00,20:57:00,1881,22,0,0,CAMOZZINI 1/CERUSA,1881,44.427376,8.743379
...,...,...,...,...,...,...,...,...,...,...,...
867578,9562151-I21224-InvFer-Semaine-17,16:34:00,16:34:00,1500,5,0,0,OLIVIERI 3/BOCCIARDO,1500,44.403519,8.992714
867381,9562151-I21224-InvFer-Semaine-17,16:33:00,16:33:00,1499,4,0,0,OLIVIERI 2/CROCE ROSSA,1499,44.404709,8.995637
867184,9562151-I21224-InvFer-Semaine-17,16:32:00,16:32:00,1498,3,0,0,OLIVIERI 1/ORATORIO,1498,44.405094,8.997010
709917,9562151-I21224-InvFer-Semaine-17,16:43:00,16:43:00,0751,14,0,0,POSALUNGA 1/SCUOLA,0751,44.406544,8.986855
211535,9562151-I21224-InvFer-Semaine-17,16:51:00,16:51:00,0410,21,0,0,EUROPA 17/OSPEDALE SAN MARTINO,0410,44.405910,8.970081

In [6]:
csv_stoptimes_stops2 = csv_stoptimes_stops[['vehicle_id','arrival_time','departure_time','stop_id','stop_name','stop_sequence','stop_lat','stop_lon']]
csv_stoptimes_stops2.sort_values(["vehicle_id","stop_id","stop_sequence"], ascending = True)

,vehicle_id,arrival_time,departure_time,stop_id,stop_name,stop_sequence,stop_lat,stop_lon
735223,8835268-I2122X-InvFes-Dimanche-01,20:58:00,20:58:00,0051,CAMOZZINI 2/CADUTI,23,44.428169,8.745475
736064,8835268-I2122X-InvFes-Dimanche-01,20:59:00,20:59:00,0052,CAMOZZINI 3/ODICINI,24,44.428463,8.749455
736905,8835268-I2122X-InvFes-Dimanche-01,20:59:00,20:59:00,0053,CAMOZZINI 4/VILLA DUCHESSA,25,44.428284,8.751525
265643,8835268-I2122X-InvFes-Dimanche-01,21:00:00,21:00:00,1614,PARKS/VERITA',26,44.428436,8.755336
727683,8835268-I2122X-InvFes-Dimanche-01,20:40:00,20:40:00,1658,FIORINO/CAPOLINEA,1,44.461552,8.706793
...,...,...,...,...,...,...,...,...
868366,9562151-I21224-InvFer-Semaine-17,16:39:00,16:39:00,1504,TANINI 2/PONTEVECCHIO,9,44.402466,8.989396
868563,9562151-I21224-InvFer-Semaine-17,16:39:00,16:39:00,1505,TANINI 3/BOCCIARDO,10,44.403618,8.989588
868760,9562151-I21224-InvFer-Semaine-17,16:41:00,16:41:00,1506,TANINI 4/PICA,11,44.405972,8.989177
868957,9562151-I21224-InvFer-Semaine-17,16:41:00,16:41:00,1507,TANINI 5/CIANCIULLO,12,44.407516,8.989390
869126,9562151-I21224-InvFer-Semaine-17,16:42:00,16:42:00,1508,TANINI 6/POSALUNGA,13,44.408569,8.988461

In [7]:
csv_stopout = pd.read_csv("stops_1aprile.out.csv", sep=';', dtype = 'unicode')
csv_stopout.rename(columns = {'stopinfo_busStop':'busStop_id'}, inplace = True)
csv_stopout.rename(columns = {'stopinfo_id':'vehicle_id'}, inplace = True)
csv_stopout.sort_values(["vehicle_id"], ascending = True).head()

,busStop_id,stopinfo_delay,stopinfo_edge,stopinfo_ended,vehicle_id,stopinfo_initialContainers,stopinfo_initialPersons,stopinfo_loadedContainers,stopinfo_loadedPersons,stopinfo_parking,stopinfo_pos,stopinfo_started,stopinfo_type,stopinfo_unloadedContainers,stopinfo_unloadedPersons
238249,-141627789#6:56.64,15.00,-141627789#6,19:43:05,8836676-I2122X-InvFer-Semaine-06,0,0,0,0,0,0.00,19:41:20.47,bus,0,0
237293,158847646#1:19.86,3.00,158847646#1,19:39:53,8836676-I2122X-InvFer-Semaine-06,0,0,0,0,0,0.00,19:38:01.11,bus,0,0
238486,-141627789#4:17.66,10.00,-141627789#4,19:44:00,8836676-I2122X-InvFer-Semaine-06,0,0,0,0,0,0.00,19:43:06.45,bus,0,0
236424,20475943:32.78,5.00,20475943,19:36:55,8836676-I2122X-InvFer-Semaine-06,0,0,0,0,0,0.00,19:35:08.83,bus,0,0
236723,25991840#1:13.00,4.00,25991840#1,19:37:54,8836676-I2122X-InvFer-Semaine-06,0,0,0,0,0,0.00,19:36:57.51,bus,0,0

In [8]:
csv_stopout2 = csv_stopout[['busStop_id','stopinfo_delay','stopinfo_ended','vehicle_id','stopinfo_initialPersons','stopinfo_loadedPersons','stopinfo_started','stopinfo_type','stopinfo_unloadedPersons']]
csv_stopout2

,busStop_id,stopinfo_delay,stopinfo_ended,vehicle_id,stopinfo_initialPersons,stopinfo_loadedPersons,stopinfo_started,stopinfo_type,stopinfo_unloadedPersons
0,23679742#2:23.17,13.00,03:46:03,9515870-I21224-InvFer-Semaine-16,0,2,03:45:50,bus,0
1,-274100615#1:24.83,191.00,03:50:01,9515870-I21224-InvFer-Semaine-16,2,4,03:46:30.47,bus,0
2,5192159#3:199.10,18.00,03:51:08,9515451-I21224-InvFer-Semaine-16,0,1,03:50:53.61,bus,0
3,567156350#3:22.62,35.00,03:51:25,9515451-I21224-InvFer-Semaine-16,1,1,03:51:14.03,bus,0
4,276689357#4:17.41,3.00,03:51:53,9515451-I21224-InvFer-Semaine-16,2,4,03:51:32.87,bus,0
...,...,...,...,...,...,...,...,...,...
271000,212429224#0:21.45,1.00,1:00:42:51,9420828-I21224-InvFer-Semaine-16,2,0,1:00:41:59.92,bus,0
271001,25770948#3:13.00,1.00,1:00:43:51,9420828-I21224-InvFer-Semaine-16,2,0,1:00:43:35.39,bus,2
271002,25770948#13:32.64,2.00,1:00:44:52,9420828-I21224-InvFer-Semaine-16,0,0,1:00:43:54.53,bus,0
271003,25770948#25:39.64,27.00,1:00:45:17,9420828-I21224-InvFer-Semaine-16,0,0,1:00:45:01.92,bus,0
271004,25770948#26:75.17,3.00,1:00:45:53,9420828-I21224-InvFer-Semaine-16,0,0,1:00:45:16.30,bus,0

In [9]:
csv_stopout2.to_csv(r'csv_stopout2.csv', index = False, sep=';')

In [10]:
csv_stopout2_no0 = pd.read_csv("csv_stopout2.csv", sep=';', dtype = 'unicode')

In [11]:
csv_gtfs_stops = pd.read_csv("gtfs_pt_stops.add_filtered.csv", sep=';', dtype = 'unicode')
csv_gtfs_stops

                busStop_id             stop_name
0          553498531:17.94      MENOTTI 2/CHIESA
1         17460191#8:13.00     MENOTTI 3/HERMADA
2       -131201762#1:64.14  SIFFREDI 1/CALCINARA
3         24280182#0:13.00    SIFFREDI 2/ACCIAIO
4       -553840080#1:66.67   SIFFREDI 3/ALBARETO
...                    ...                   ...
2898   1069019624#4:857.23         DARSENA/METRO
2899   1069023649#2:110.00     SAN GIORGIO/METRO
2900   1069023649#2:858.11     S. AGOSTINO/METRO
2901  1069023649#2:1282.72      DE FERRARI/METRO
2902  1069023649#2:2586.34        BRIGNOLE/METRO

[2903 rows x 2 columns]

In [12]:
csv_stops_stopout2no0 = csv_gtfs_stops.merge(csv_stopout2_no0, on=["busStop_id"])
csv_stops_stopout2no0.sort_values(["vehicle_id"], ascending = True)

,busStop_id,stop_name,stopinfo_delay,stopinfo_ended,vehicle_id,stopinfo_initialPersons,stopinfo_loadedPersons,stopinfo_started,stopinfo_type,stopinfo_unloadedPersons
205050,144138261:22.74,PEGLI FS/MUSEI PALLAVICINI,15.00,19:35:05,8836676-I2122X-InvFer-Semaine-06,0,0,19:34:50,bus,0
205122,158847646#1:19.86,ROVETTA 2/TARIGO,3.00,19:39:53,8836676-I2122X-InvFer-Semaine-06,0,0,19:38:01.11,bus,0
205099,25991840#1:13.00,RICASOLI/MUSEO NAVALE,4.00,19:37:54,8836676-I2122X-InvFer-Semaine-06,0,0,19:36:57.51,bus,0
205076,20475943:32.78,PAVIA/BONAVINO,5.00,19:36:55,8836676-I2122X-InvFer-Semaine-06,0,0,19:35:08.83,bus,0
205214,-141627789#1:96.13,VESPUCCI/CAPOLINEA,12.00,19:46:02,8836676-I2122X-InvFer-Semaine-06,0,0,19:44:04.26,bus,0
...,...,...,...,...,...,...,...,...,...,...
201903,19166737#9:200.21,CADIGHIARA 3/EX DAZIO,6.00,16:34:56,9521085-I21224-InvFer-Semaine-16,42,0,16:33:55.28,bus,0
94146,13241843#2:14.42,ODESSA/ALIMONDA,2.00,16:23:52,9521085-I21224-InvFer-Semaine-16,39,5,16:23:17.80,bus,1
203151,23897027#5:79.55,NASCHE 5/CHIESA,4.00,16:39:54,9521085-I21224-InvFer-Semaine-16,40,3,16:38:59.04,bus,0
164809,85984975#0:74.73,THAON DI REVEL/BRIGNOLE FS,43.00,16:20:33,9521085-I21224-InvFer-Semaine-16,0,1,16:19:50,bus,0
162406,13245254#10:26.01,LAGUSTENA 2/MOSSO,4.00,16:28:54,9521085-I21224-InvFer-Semaine-16,61,1,16:28:25.09,bus,6

In [13]:
csv_stopout3 = csv_stoptimes_stops2.merge(csv_stops_stopout2no0, on=["vehicle_id","stop_name"])
csv_stopout3.sort_values(["vehicle_id","stop_sequence"], ascending = True)

,vehicle_id,arrival_time,departure_time,stop_id,stop_name,stop_sequence,stop_lat,stop_lon,busStop_id,stopinfo_delay,stopinfo_ended,stopinfo_initialPersons,stopinfo_loadedPersons,stopinfo_started,stopinfo_type,stopinfo_unloadedPersons
250367,8836676-I2122X-InvFer-Semaine-06,19:35:00,19:35:00,1587,PEGLI FS/MUSEI PALLAVICINI,1,44.425869,8.817013,144138261:22.74,15.00,19:35:05,0,0,19:34:50,bus,0
250413,8836676-I2122X-InvFer-Semaine-06,19:37:00,19:37:00,1588,PAVIA/BONAVINO,2,44.427128,8.816274,20475943:32.78,5.00,19:36:55,0,0,19:35:08.83,bus,0
250436,8836676-I2122X-InvFer-Semaine-06,19:38:00,19:38:00,1589,RICASOLI/MUSEO NAVALE,3,44.427902,8.814721,25991840#1:13.00,4.00,19:37:54,0,0,19:36:57.51,bus,0
250459,8836676-I2122X-InvFer-Semaine-06,19:40:00,19:40:00,1590,ROVETTA 2/TARIGO,4,44.428234,8.812210,158847646#1:19.86,3.00,19:39:53,0,0,19:38:01.11,bus,0
250482,8836676-I2122X-InvFer-Semaine-06,19:41:00,19:41:00,1591,PRESTINARI/RICASOLI,5,44.428558,8.813563,20476202:112.52,9.00,19:40:59,0,0,19:39:52.45,bus,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
189999,9521085-I21224-InvFer-Semaine-16,16:25:00,16:25:00,0363,GASTALDI 1/PONTE DI TERRALBA,5,44.404659,8.959888,199198703#3:53.12,35.00,16:25:25,43,0,16:25:07.12,bus,0
190495,9521085-I21224-InvFer-Semaine-16,16:26:00,16:26:00,0364,GASTALDI 2/CASA DELLO STUDENTE,6,44.404583,8.964451,199198703#3:416.34,130.00,16:27:00,43,0,16:25:39.60,bus,0
58439,9521085-I21224-InvFer-Semaine-16,16:27:00,16:27:00,0446,SAN MARTINO 1/UNIVERSITA',7,44.404789,8.967895,150831979#1:28.12,95.00,16:27:25,43,35,16:27:13.05,bus,8
58888,9521085-I21224-InvFer-Semaine-16,16:28:00,16:28:00,0447,SAN MARTINO 2/PAPIGLIANO,8,44.405697,8.970962,150831979#7:38.08,54.00,16:27:44,70,4,16:27:32,bus,0
59337,9521085-I21224-InvFer-Semaine-16,16:29:00,16:29:00,0448,SAN MARTINO 3/RAI,9,44.406208,8.973002,150831979#12:13.71,70.00,16:28:00,74,13,16:27:49.17,bus,8

In [14]:
routes = pd.read_csv("gtfs/trips.txt", sep=',', dtype = 'unicode')
routes

,route_id,service_id,vehicle_id,trip_headsign,block_id
0,FGC-63,FGC-EstFer22-Semaine-00,9548023-FGC-EstFer22-Semaine-00,MANIN,1151980
1,FGC-63,FGC-EstFer22-Semaine-00,9548024-FGC-EstFer22-Semaine-00,MANIN,1151981
2,FGC-63,FGC-EstFer22-Semaine-00,9548025-FGC-EstFer22-Semaine-00,MANIN,1151980
3,FGC-63,FGC-EstFer22-Semaine-00,9548026-FGC-EstFer22-Semaine-00,CASELLA,1151980
4,FGC-63,FGC-EstFer22-Semaine-00,9548027-FGC-EstFer22-Semaine-00,CASELLA,1151982
...,...,...,...,...,...
47808,MM-91,MM2022-InvSab-Samedi-00,9303605-MM2022-InvSab-Samedi-00,BRIN,1137357
47809,MM-91,MM2022-InvSab-Samedi-00,9303606-MM2022-InvSab-Samedi-00,BRIN,1137356
47810,MM-91,MM2022-InvSab-Samedi-00,9303607-MM2022-InvSab-Samedi-00,BRIN,1137353
47811,MM-91,MM2022-InvSab-Samedi-00,9303608-MM2022-InvSab-Samedi-00,BRIN,1137358
47812,MM-91,MM2022-InvSab-Samedi-00,9303609-MM2022-InvSab-Samedi-00,BRIN,1137355

In [15]:
csv_stopout4 = csv_stopout3.merge(routes, on=["vehicle_id"])
csv_stopout4.sort_values(["vehicle_id"], ascending = True)

,vehicle_id,arrival_time,departure_time,stop_id,stop_name,stop_sequence,stop_lat,stop_lon,busStop_id,stopinfo_delay,stopinfo_ended,stopinfo_initialPersons,stopinfo_loadedPersons,stopinfo_started,stopinfo_type,stopinfo_unloadedPersons,route_id,service_id,trip_headsign,block_id
255325,8836676-I2122X-InvFer-Semaine-06,19:35:00,19:35:00,1587,PEGLI FS/MUSEI PALLAVICINI,1,44.425869,8.817013,144138261:22.74,15.00,19:35:05,0,0,19:34:50,bus,0,093-144,I2122X-InvFer-Semaine-06,VIA VESPUCCI,1111378
255326,8836676-I2122X-InvFer-Semaine-06,19:37:00,19:37:00,1588,PAVIA/BONAVINO,2,44.427128,8.816274,20475943:32.78,5.00,19:36:55,0,0,19:35:08.83,bus,0,093-144,I2122X-InvFer-Semaine-06,VIA VESPUCCI,1111378
255332,8836676-I2122X-InvFer-Semaine-06,19:46:00,19:46:00,1581,VESPUCCI/CAPOLINEA,8,44.430183,8.812104,-141627789#1:96.13,12.00,19:46:02,0,0,19:44:04.26,bus,0,093-144,I2122X-InvFer-Semaine-06,VIA VESPUCCI,1111378
255331,8836676-I2122X-InvFer-Semaine-06,19:44:00,19:44:00,1593,VESPUCCI 2/CIVITALI,7,44.429680,8.813552,-141627789#4:17.66,10.00,19:44:00,0,0,19:43:06.45,bus,0,093-144,I2122X-InvFer-Semaine-06,VIA VESPUCCI,1111378
255330,8836676-I2122X-InvFer-Semaine-06,19:43:00,19:43:00,1592,VESPUCCI 1/,6,44.429291,8.812388,-141627789#6:56.64,15.00,19:43:05,0,0,19:41:20.47,bus,0,093-144,I2122X-InvFer-Semaine-06,VIA VESPUCCI,1111378
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
177863,9521085-I21224-InvFer-Semaine-16,16:20:00,16:20:00,0718,THAON DI REVEL/BRIGNOLE FS,1,44.405582,8.946454,85984975#0:74.73,43.00,16:20:33,0,1,16:19:50,bus,0,086-152,I21224-InvFer-Semaine-16,S. DESIDERIO,1150232
177862,9521085-I21224-InvFer-Semaine-16,16:30:00,16:30:00,0449,LAGUSTENA 1/CHIESA SAN MARTINO,10,44.405567,8.976123,13245254#2:13.00,28.00,16:28:18,79,0,16:28:07.21,bus,18,086-152,I21224-InvFer-Semaine-16,S. DESIDERIO,1150232
177861,9521085-I21224-InvFer-Semaine-16,16:29:00,16:29:00,0448,SAN MARTINO 3/RAI,9,44.406208,8.973002,150831979#12:13.71,70.00,16:28:00,74,13,16:27:49.17,bus,8,086-152,I21224-InvFer-Semaine-16,S. DESIDERIO,1150232
177859,9521085-I21224-InvFer-Semaine-16,16:27:00,16:27:00,0446,SAN MARTINO 1/UNIVERSITA',7,44.404789,8.967895,150831979#1:28.12,95.00,16:27:25,43,35,16:27:13.05,bus,8,086-152,I21224-InvFer-Semaine-16,S. DESIDERIO,1150232
177885,9521085-I21224-InvFer-Semaine-16,16:47:00,16:47:00,1495,SAN DESIDERIO/FINE CORSA,26,44.422050,9.010042,25091857:13.50,2.00,16:41:52,43,0,16:41:02.69,bus,0,086-152,I21224-InvFer-Semaine-16,S. DESIDERIO,1150232

In [16]:
csv_stopout4.to_csv(r'dataset_sintetico_1aprile_coordinates.csv', index = False, sep=';')